<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Prediccion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="anemia">Anemia</a>
                  <a class="dropdown-item" href="cancerdemama">Cáncer de mama</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="entrenamiento">Entrenamiento</a>
            </li>
          </ul>
        </div>
        <div class="col-1">
          <img src="/static/logo_espol.png"  class="img-fluid" alt="">
        </div>
    </nav>


    <!-- Titulo -->
    <div class="col-12" style="text-align: center;">
        <h1>Predictor de patalogia - Cáncer de mama</h1>
    </div>

<!--

    <div class="col-12 ml-3" style="text-align: start;">
      <h5>Sexo</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radiosgeneros" id="checkhombre" value="option1" checked>
        <label class="form-check-label" for="checkhombre">
          Hombre
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radiosgeneros" id="checkmujer" value="option2">
        <label class="form-check-label" for="checkmujer">
          Mujer
        </label>
      </div>
    </div>
  -->


    <form class="col-12 mt-4" id="contact-form">
      <div class="form-group">
        <div class="row ml-1">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="radio_med">Radio medio</label>
            <input type="text" class="form-control" id="radio_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="textura_med">Textura</label>
            <input type="text" class="form-control" id="textura_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="perimetro_med">Perimetro</label>
            <input type="text" class="form-control" id="perimetro_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="area_med">Area</label>
            <input type="text" class="form-control" id="area_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="suavidad_med">Suavidad</label>
            <input type="text" class="form-control" id="suavidad_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="compacidad_med">Compacidad</label>
            <input type="text" class="form-control" id="compacidad_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6 mt-4">
            <label for="concavidad_med">Concavidad</label>
            <input type="text" class="form-control" id="concavidad_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="puntos_concavos_med">Puntos concavos</label>
            <input type="text" class="form-control" id="puntos_concavos_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="simetria_med">Simetria</label>
            <input type="text" class="form-control" id="simetria_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="dimension_fractal_med">Dimension fractal</label>
            <input type="text" class="form-control" id="dimension_fractal_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="radio_sec">Radio se</label>
            <input type="text" class="form-control" id="radio_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="textura_sec">Textura se</label>
            <input type="text" class="form-control" id="textura_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="perimetro_sec">Perimetro se</label>
            <input type="text" class="form-control" id="perimetro_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="area_sec">Area se</label>
            <input type="text" class="form-control" id="area_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="suavidad_sec">Suavidad se</label>
            <input type="text" class="form-control" id="suavidad_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="compacidad_sec">Compacidad se</label>
            <input type="text" class="form-control" id="compacidad_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavidad_sec">Concavidad se</label>
            <input type="text" class="form-control" id="concavidad_sec" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavos_sec">Puntos Concavo se</label>
            <input type="text" class="form-control" id="concavos_sec" placeholder="">
          </div>

        </div>

      </div>

      <!-- Boton para el Resultado -->

      <div class="col-12 mt-4" style="text-align: center;">
        <button  type="button" id = "mybutton" class="btn btn-primary" >Consultar</button>
      </div>

    </form>

    <div class="row mt-4 ml-3">
      <div class="col-1">
        <label for="resultado">Resultado:</label>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <span id="textresult"> </span>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

      $(function() {
        $('button#mybutton').on('click', function(e) {
          e.preventDefault();
          var radio_med = document.getElementById('radio_med').value.length == 0 ? "0" : document.getElementById('radio_med').value;
          var textura_med = document.getElementById('textura_med').value.length == 0 ? "0" : document.getElementById('textura_med').value;
          var perimetro_med = document.getElementById('perimetro_med').value.length == 0 ? "0" : document.getElementById('perimetro_med').value;
          var area_med = document.getElementById('area_med').value.length == 0 ? "0" : document.getElementById('area_med').value;
          var suavidad_med = document.getElementById('suavidad_med').value.length == 0 ? "0" : document.getElementById('suavidad_med').value;
          var compacidad_med = document.getElementById('compacidad_med').value.length == 0 ? "0" : document.getElementById('compacidad_med').value;
          var concavidad_med = document.getElementById('concavidad_med').value.length == 0 ? "0" : document.getElementById('concavidad_med').value;
          var puntos_concavos_med = document.getElementById('puntos_concavos_med').value.length == 0 ? "0" : document.getElementById('puntos_concavos_med').value;
          var simetria_med = document.getElementById('simetria_med').value.length == 0 ? "0" : document.getElementById('simetria_med').value;
          var dimension_fractal_med = document.getElementById('dimension_fractal_med').value.length == 0 ? "0" : document.getElementById('dimension_fractal_med').value;
          var radio_sec = document.getElementById('radio_sec').value.length == 0 ? "0" : document.getElementById('radio_sec').value;
          var textura_sec = document.getElementById('textura_sec').value.length == 0 ? "0" : document.getElementById('textura_sec').value;
          var perimetro_sec = document.getElementById('perimetro_sec').value.length == 0 ? "0" : document.getElementById('perimetro_sec').value;
          var area_sec = document.getElementById('area_sec').value.length == 0 ? "0" : document.getElementById('area_sec').value;
          var suavidad_sec = document.getElementById('suavidad_sec').value.length == 0 ? "0" : document.getElementById('suavidad_sec').value;
          var compacidad_sec = document.getElementById('compacidad_sec').value.length == 0 ? "0" : document.getElementById('compacidad_sec').value;
          var concavidad_sec = document.getElementById('concavidad_sec').value.length == 0 ? "0" : document.getElementById('concavidad_sec').value;
          var concavos_sec = document.getElementById('concavos_sec').value.length == 0 ? "0" : document.getElementById('concavos_sec').value;
          
          $.ajax({
              url: '/background_process_test_cancermama',
              type: 'post',
              data: {
                radio_med : radio_med,
                textura_med: textura_med,
                perimetro_med: perimetro_med,
                area_med: area_med,
                suavidad_med: suavidad_med,
                compacidad_med: compacidad_med,
                concavidad_med: concavidad_med,
                puntos_concavos_med: puntos_concavos_med,
                simetria_med: simetria_med,
                dimension_fractal_med: dimension_fractal_med,
                radio_sec: radio_sec,
                textura_sec: textura_sec,
                perimetro_sec: perimetro_sec,
                area_sec: area_sec,
                suavidad_sec: suavidad_sec,
                compacidad_sec: compacidad_sec,
                concavidad_sec: concavidad_sec,
                concavos_sec: concavos_sec
                },
                success: function(response){
                  document.getElementById("textresult").textContent=response;
                  console.log(response);
                },
                error: function(error){
                  console.log(error);
                }

          });
        });
      });

  </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
