<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Prediccion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="anemia">Anemia</a>
                  <a class="dropdown-item" href="cancerdemama">Cáncer de mama</a>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="entrenamiento">Entrenamiento</a>
            </li>
          </ul>
        </div>
        <div class="col-1">
          <img src="/static/logo_espol.png"  class="img-fluid" alt="">
        </div>
    </nav>


    <!-- Titulo -->
    <div class="col-12" style="text-align: center;">
        <h1>Predictor de patalogia - Cáncer de mama</h1>
    </div>

<!--

    <div class="col-12 ml-3" style="text-align: start;">
      <h5>Sexo</h5>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radiosgeneros" id="checkhombre" value="option1" checked>
        <label class="form-check-label" for="checkhombre">
          Hombre
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="radiosgeneros" id="checkmujer" value="option2">
        <label class="form-check-label" for="checkmujer">
          Mujer
        </label>
      </div>
    </div>
  -->


    <form class="col-12 mt-4" id="contact-form">
      <div class="form-group">
        <div class="row ml-1">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="radio_med">Radio medio</label>
            <input type="text" class="form-control" id="radio_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="textura_med">Textura</label>
            <input type="text" class="form-control" id="textura_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="perimetro_med">Perimetro</label>
            <input type="text" class="form-control" id="perimetro_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="area_med">Area</label>
            <input type="text" class="form-control" id="area_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <label for="suavidad_med">Suavidad</label>
            <input type="text" class="form-control" id="suavidad_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="compacidad_med">Compacidad</label>
            <input type="text" class="form-control" id="compacidad_med" placeholder="">
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6 mt-4">
            <label for="concavidad_med">Concavidad</label>
            <input type="text" class="form-control" id="concavidad_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="puntos_concavos_med">Puntos concavos</label>
            <input type="text" class="form-control" id="puntos_concavos_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="simetria_med">Simetria</label>
            <input type="text" class="form-control" id="simetria_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="dimension_fractal_med">Dimension fractal</label>
            <input type="text" class="form-control" id="dimension_fractal_med" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="radio_se">Radio se</label>
            <input type="text" class="form-control" id="radio_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="textura_se">Textura se</label>
            <input type="text" class="form-control" id="textura_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="perimetro_se">Perimetro se</label>
            <input type="text" class="form-control" id="perimetro_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="area_se">Area se</label>
            <input type="text" class="form-control" id="area_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="suavidad_se">Suavidad se</label>
            <input type="text" class="form-control" id="suavidad_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="compacidad_se">Compacidad se</label>
            <input type="text" class="form-control" id="compacidad_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavidad_se">Concavidad se</label>
            <input type="text" class="form-control" id="concavidad_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavos_se">Puntos Concavos se</label>
            <input type="text" class="form-control" id="concavos_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="simetria_se">Simetria Se</label>
            <input type="text" class="form-control" id="simetria_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="dimension_fractal_se">Dimension fractal Se</label>
            <input type="text" class="form-control" id="dimension_fractal_se" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="radio_worst">Radio peor</label>
            <input type="text" class="form-control" id="radio_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="textura_worst">Textura peor</label>
            <input type="text" class="form-control" id="textura_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="perimetro_worst">Perimetro peor</label>
            <input type="text" class="form-control" id="perimetro_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="area_worst">Area peor</label>
            <input type="text" class="form-control" id="area_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="suavidad_worst">Suavidad peor</label>
            <input type="text" class="form-control" id="suavidad_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="compacidad_worst">Compacidad peor</label>
            <input type="text" class="form-control" id="compacidad_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavidad_worst">Concavidad peor</label>
            <input type="text" class="form-control" id="concavidad_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="concavos_worst">Puntos Concavos peor</label>
            <input type="text" class="form-control" id="concavos_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="simetria_worst">Simetria peor</label>
            <input type="text" class="form-control" id="simetria_worst" placeholder="">
          </div>

          <div class="col-lg-3 col-md-6 col-sm-8 mt-4">
            <label for="dimension_fractal_worst">Dimension fractal peor</label>
            <input type="text" class="form-control" id="dimension_fractal_worst" placeholder="">
          </div>

        </div>

      </div>

      <!-- Boton para el Resultado -->

      <div class="col-12 mt-4" style="text-align: center;">
        <button  type="button" id = "mybutton" class="btn btn-primary" >Consultar</button>
      </div>

    </form>

    <div class="row mt-4 ml-3">
      <div class="col-1">
        <label for="resultado">Resultado:</label>
      </div>
      <div class="col-1"></div>
      <div class="col-4">
        <span id="textresult"> </span>
      </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

      $(function() {
        $('button#mybutton').on('click', function(e) {
          e.preventDefault();
          var radio_med = document.getElementById('radio_med').value.length == 0 ? 0 : document.getElementById('radio_med').value;
          var textura_med = document.getElementById('textura_med').value.length == 0 ? 0 : document.getElementById('textura_med').value;
          var perimetro_med = document.getElementById('perimetro_med').value.length == 0 ? 0 : document.getElementById('perimetro_med').value;
          var area_med = document.getElementById('area_med').value.length == 0 ? 0 : document.getElementById('area_med').value;
          var suavidad_med = document.getElementById('suavidad_med').value.length == 0 ? 0 : document.getElementById('suavidad_med').value;
          var compacidad_med = document.getElementById('compacidad_med').value.length == 0 ? 0 : document.getElementById('compacidad_med').value;
          var concavidad_med = document.getElementById('concavidad_med').value.length == 0 ? 0 : document.getElementById('concavidad_med').value;
          var puntos_concavos_med = document.getElementById('puntos_concavos_med').value.length == 0 ? 0 : document.getElementById('puntos_concavos_med').value;
          
          var simetria_med = document.getElementById('simetria_med').value.length == 0 ? 0 : document.getElementById('simetria_med').value;
          var dimension_fractal_med = document.getElementById('dimension_fractal_med').value.length == 0 ? 0 : document.getElementById('dimension_fractal_med').value;
          var radio_se = document.getElementById('radio_se').value.length == 0 ? 0 : document.getElementById('radio_se').value;
          var textura_se = document.getElementById('textura_se').value.length == 0 ? 0 : document.getElementById('textura_se').value;
          var perimetro_se = document.getElementById('perimetro_se').value.length == 0 ? 0 : document.getElementById('perimetro_se').value;
          var area_se = document.getElementById('area_se').value.length == 0 ? 0 : document.getElementById('area_se').value;
          var suavidad_se = document.getElementById('suavidad_se').value.length == 0 ? 0 : document.getElementById('suavidad_se').value;
          var compacidad_se = document.getElementById('compacidad_se').value.length == 0 ? 0 : document.getElementById('compacidad_se').value;
          var concavidad_se = document.getElementById('concavidad_se').value.length == 0 ? 0 : document.getElementById('concavidad_se').value;
          var concavos_se = document.getElementById('concavos_se').value.length == 0 ? 0 : document.getElementById('concavos_se').value;
          
          var simetria_se = document.getElementById('simetria_se').value.length == 0 ? 0 : document.getElementById('simetria_se').value;
          var dimension_fractal_se = document.getElementById('dimension_fractal_se').value.length == 0 ? 0 : document.getElementById('dimension_fractal_se').value;
          var radio_worst = document.getElementById('radio_worst').value.length == 0 ? 0 : document.getElementById('radio_worst').value;
          var textura_worst = document.getElementById('textura_worst').value.length == 0 ? 0 : document.getElementById('textura_worst').value;
          var perimetro_worst = document.getElementById('perimetro_worst').value.length == 0 ? 0 : document.getElementById('perimetro_worst').value;
          var area_worst = document.getElementById('area_worst').value.length == 0 ? 0 : document.getElementById('area_worst').value;
          var suavidad_worst = document.getElementById('suavidad_worst').value.length == 0 ? 0 : document.getElementById('suavidad_worst').value;
          var compacidad_worst = document.getElementById('compacidad_worst').value.length == 0 ? 0 : document.getElementById('compacidad_worst').value;
          var concavidad_worst = document.getElementById('concavidad_worst').value.length == 0 ? 0 : document.getElementById('concavidad_worst').value;
          var concavos_worst = document.getElementById('concavos_worst').value.length == 0 ? 0 : document.getElementById('concavos_worst').value;
          var simetria_worst = document.getElementById('simetria_worst').value.length == 0 ? 0 : document.getElementById('simetria_worst').value;
          var dimension_fractal_worst = document.getElementById('dimension_fractal_worst').value.length == 0 ? 0 : document.getElementById('dimension_fractal_worst').value;
          
          var miData = {
                radio_med : radio_med,
                textura_med: textura_med,
                perimetro_med: perimetro_med,
                area_med: area_med,
                suavidad_med: suavidad_med,
                compacidad_med: compacidad_med,
                concavidad_med: concavidad_med,
                puntos_concavos_med: puntos_concavos_med,
                simetria_med: simetria_med,
                dimension_fractal_med: dimension_fractal_med,

                radio_se: radio_se,
                textura_se: textura_se,
                perimetro_se: perimetro_se,
                area_se: area_se,
                suavidad_se: suavidad_se,
                compacidad_se: compacidad_se,
                concavidad_se: concavidad_se,
                concavos_se: concavos_se,
                simetria_se: simetria_se,
                dimension_fractal_se: dimension_fractal_se,

                radio_worst: radio_worst,
                textura_worst: textura_worst,
                perimetro_worst: perimetro_worst,
                area_worst: area_worst,
                suavidad_worst: suavidad_worst,
                compacidad_worst: compacidad_worst,
                concavidad_worst: concavidad_worst,
                concavos_worst: concavos_worst,
                simetria_worst: simetria_worst,
                dimension_fractal_worst: dimension_fractal_worst
                };
          $.ajax({
              url: '/background_process_test_cancermama',
              type: 'post',
              data: {
                radio_med : radio_med,
                textura_med: textura_med,
                perimetro_med: perimetro_med,
                area_med: area_med,
                suavidad_med: suavidad_med,
                compacidad_med: compacidad_med,
                concavidad_med: concavidad_med,
                puntos_concavos_med: puntos_concavos_med,
                simetria_med: simetria_med,
                dimension_fractal_med: dimension_fractal_med,

                radio_se: radio_se,
                textura_se: textura_se,
                perimetro_se: perimetro_se,
                area_se: area_se,
                suavidad_se: suavidad_se,
                compacidad_se: compacidad_se,
                concavidad_se: concavidad_se,
                concavos_se: concavos_se,
                simetria_se: simetria_se,
                dimension_fractal_se: dimension_fractal_se,

                radio_worst: radio_worst,
                textura_worst: textura_worst,
                perimetro_worst: perimetro_worst,
                area_worst: area_worst,
                suavidad_worst: suavidad_worst,
                compacidad_worst: compacidad_worst,
                concavidad_worst: concavidad_worst,
                concavos_worst: concavos_worst,
                simetria_worst: simetria_worst,
                dimension_fractal_worst: dimension_fractal_worst,
                },
                success: function(response){
                  document.getElementById("textresult").textContent=response;
                  console.log(response);
                },
                error: function(error){
                  console.log(error);
                }

          });
        });
      });

  </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
